/* const { colors } = require('tailwindcss/defaultTheme') */

@tailwind base;

@font-face {
  font-family: Signika Light;
  font-weight: 400;
  src: url(./fonts/Signika-Light.woff) format("woff");
}

@tailwind components;

@tailwind utilities;
